.panel-container {
  display: flex;
  flex-direction: row;
  padding: 0 2em;
  /*
  alignItems: center;
  justifyContent: space-between;
  */
  position: absolute;
  bottom: -20px;
  background-color: red;
  height: 20px;
}

.panel-container:not(:hover) {
  background-color: pink;
}

.panel-container > div:not(:last-child) {
  margin-right: 15px;
}

.expand-o-matic {
  /* height: auto; */
  transform: scaleY(1);
  position: absolute;
  top: 0px;
  overflow: hidden;
  transition: transform 2s;
}

.GraphDetail {
  display: flex;
  flex-direction: column;
}

.detail-check-bok {
  margin: 0px 4px;
}

.can-hide:not(:hover) > .expand-o-matic {
  transform: scaleY(0);
  /* height: 0px; */
  /* bottom: -300px; */
}

.expander-container {
  overflow: hidden;
}

.ddg-example {
  height: 15vh;
}

.img-row {
  display: flex;
  flex-direction: row;
}

.descriptor {
  text-align: center;
}

.ant-modal-content {
  width: 40vw;
}

/*
@keyframes topFadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}
*/
